
.form-container {
  display: none;
}

.bioguide-form-container,
.legislator-status-container {
  display: none;
}

.additional_info_row, .fill_additional_info_row{
  display: none;
}

.info_row, .fill_info_row{
  cursor: pointer;
}

.field_id{
  font-weight: bold;
}

.additional_info_row table.table{
  background-color: inherit;
}
.additional_info_row table>tbody>tr>td{
  border-top: 0px;
}
#last-updated-label{
  font-weight: bold;
}

#updated{
  margin-bottom: 20px;
}

.error_image img{
  border: 1px solid gray;
}

.error_info{
  width: 1000px;
}

img.last_problem {
  width: 100%;
}

tr.fill_info_row .alert{
  padding: 4px;
}

.label-as-badge{
  border-radius: 1em;
}

.bioguide_id_header, .jobs_header{
  cursor: pointer;
}

.header_sorted{
  font-weight: bold;
}

.CodeMirror{
  border: 1px solid #DDD;
}
