<tr class="fill_info_row {{tr_class}}" data-id='{{uid}}'>
  <td>
    {{time}} {{#dj_id}}<span class="label label-primary">#{{dj_id}}</span>{{/dj_id}}
  </td>
  <td>
    <span class="alert alert-danger">
      {{status}}
    </span>
  </td>
</tr>
<tr class='fill_additional_info_row {{tr_class}}' data-id='{{uid}}'>
  <td colspan='2'>
    <pre class='error_info'>
      {{error}}
    </pre>
    {{#screenshot_url}}
    <div class='error_image'>
      <img src='{{screenshot_url}}'>
    </div>
    {{/screenshot_url}}
  </td>
</tr>
