<tr class="fill_info_row {{tr_class}}" data-id='{{uid}}'>
  <td>
    {{time}}
  </td>
  <td>
    <span class="alert alert-danger">
      {{status}}
    </span>
  </td>
  <td>
    <span class="label label-danger">{{id}}</span>
  </td>
  <td>
    {{#job_id}}<span class="label label-primary job-label" data-id="{{job_id}}">{{job_id}}</span>{{/job_id}}
  </td>
  <td>
    {{#job_id}}
      <div class='btn-group job-buttons' data-id="{{job_id}}">
        <a class="btn btn-default btn-sm load-job" data-id="{{job_id}}"><i class="icon-up-circled2"></i> Load</a>
        <a class="btn btn-default btn-sm delete-job" data-id="{{job_id}}"><i class="icon-trash"></i> Delete</a>
      </div>
    {{/job_id}}
  </td>
</tr>
<tr class='fill_additional_info_row {{tr_class}}' data-id='{{uid}}'>
  <td colspan='4'>
    <pre class='error_info'>
      {{error}}
    </pre>
    {{#screenshot_url}}
    <div class='error_image'>
      <img src='{{screenshot_url}}'>
    </div>
    {{/screenshot_url}}
  </td>
</tr>
