
<form role="form" class="congress-forms-test">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="alert alert-danger form-error " style="display: none;">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
      </div>
    </div>
    <div class="col-md-12 col-lg-12">
      <div class="alert alert-success form-success " style="display: none;">
        <strong>Great work!</strong> Looks like an email was successfully sent to this representative.
      </div>
    </div>
    <div class="required-fields-container col-md-12 col-lg-12">
    </div>
    <!--
    <div class="additional-fields-container col-md-12 col-lg-12">
      <legend>Additional Fields</legend>
    </div>
    -->
  </div>
  <hr />
  <button type="submit" class="btn btn-primary pull-right">Submit Test</button>
  <button type="button" class="btn-populate-defaults btn btn-warning pull-right" style="margin-right: 10px;">Populate Defaults</button>
</form>
<div style="clear: both;"></div>
<div class="captcha-container">

</div>
