<div class="thumbnail">
  <img src="http://efforg.github.io/congress-forms-test/images/225x275/{{bioguide_id}}.jpg" alt="...">
  <div class="caption">
    <strong>{{first_name}} {{last_name}}</strong>
    <br />
    <a href="{{contact_form}}">Contact Form</a>
    <br />
    <br />
    <strong>Success Rate:</strong>
    <a href="{{congress_forms_server}}/recent-fill-status/{{bioguide_id}}"><img src='{{congress_forms_server}}/recent-fill-image/{{bioguide_id}}'></a>
    <br />
    <a href="{{congress_forms_server}}/most-recent-error-or-failure/{{bioguide_id}}">Last Error/Failure</a>
  </div>
</div>
