<div class="thumbnail">
  <img src="https://efforg.github.io/congress-forms-test/images/225x275/{{bioguide_id}}.jpg" alt="...">
  <div class="caption">
    <strong>{{first_name}} {{last_name}}</strong>
    <br />
    <a class="contact-form-url" href="{{contact_form}}">Contact Form</a>
    <br />
    <a href="{{github_yaml_dir}}{{bioguide_id}}.yaml">YAML file</a>
    <br />
    <a href="https://github.com/unitedstates/contact-congress/search?q={{bioguide_id}}&type=Issues">Github Issue</a>
    <br />
    <br />
    <strong>Success Rate:</strong>
    <a href="{{congress_forms_server}}/recent-fill-status/{{bioguide_id}}"><img src='{{congress_forms_server}}/recent-fill-image/{{bioguide_id}}'></a>
  </div>
</div>
